@font-face {
  font-family: 'svb';
  src:  url('../fonts/svb.eot?yqr82x');
  src:  url('../fonts/svb.eot?yqr82x#iefix') format('embedded-opentype'),
    url('../fonts/svb.ttf?yqr82x') format('truetype'),
    url('../fonts/svb.woff?yqr82x') format('woff'),
    url('../fonts/svb.svg?yqr82x#svb') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'svb' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-check-outline:before {
  content: "\e900";
}
.icon-account-outline:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-left-bold-outline:before {
  content: "\e903";
}
.icon-arrow-left-top:before {
  content: "\e904";
}
.icon-arrow-right-bold-outline:before {
  content: "\e905";
}
.icon-arrow-right-top:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e907";
}
.icon-badge-account-outline:before {
  content: "\e908";
}
.icon-briefcase-outline:before {
  content: "\e909";
}
.icon-camera-outline:before {
  content: "\e90a";
}
.icon-certificate-outline:before {
  content: "\e90b";
}
.icon-chart-bar:before {
  content: "\e90c";
}
.icon-chart-box-outline:before {
  content: "\e90d";
}
.icon-chart-line:before {
  content: "\e90e";
}
.icon-checkbox-marked-circle-outline:before {
  content: "\e90f";
}
.icon-clipboard-outline:before {
  content: "\e910";
}
.icon-clock-outline:before {
  content: "\e911";
}
.icon-close:before {
  content: "\e912";
}
.icon-cloud-outline:before {
  content: "\e913";
}
.icon-comment-outline:before {
  content: "\e914";
}
.icon-currency-eur:before {
  content: "\e915";
}
.icon-currency-usd:before {
  content: "\e916";
}
.icon-dots-grid:before {
  content: "\e917";
}
.icon-email-fast-outline:before {
  content: "\e918";
}
.icon-email-outline:before {
  content: "\e919";
}
.icon-export-variant:before {
  content: "\e91a";
}
.icon-fan:before {
  content: "\e91b";
}
.icon-file:before {
  content: "\e91c";
}
.icon-file-document-outline:before {
  content: "\e91d";
}
.icon-fingerprint:before {
  content: "\e91e";
}
.icon-folder-outline:before {
  content: "\e91f";
}
.icon-folder-plus-outline:before {
  content: "\e920";
}
.icon-gauge:before {
  content: "\e921";
}
.icon-home-variant-outline:before {
  content: "\e925";
}
.icon-infinity:before {
  content: "\e926";
}
.icon-layers-outline:before {
  content: "\e927";
}
.icon-lock-open-outline:before {
  content: "\e928";
}
.icon-lock-outline:before {
  content: "\e929";
}
.icon-magnify:before {
  content: "\e92a";
}
.icon-map-marker-outline:before {
  content: "\e92b";
}
.icon-map-outline:before {
  content: "\e92c";
}
.icon-minus-circle-outline:before {
  content: "\e92d";
}
.icon-notebook-outline:before {
  content: "\e92e";
}
.icon-paperclip:before {
  content: "\e92f";
}
.icon-plus:before {
  content: "\e930";
}
.icon-plus-circle-outline:before {
  content: "\e931";
}
.icon-receipt-text-outline:before {
  content: "\e932";
}
.icon-reload:before {
  content: "\e933";
}
.icon-send-outline:before {
  content: "\e934";
}
.icon-share-variant-outline:before {
  content: "\e935";
}
.icon-shield-outline:before {
  content: "\e936";
}
.icon-trash-can-outline:before {
  content: "\e937";
}
.icon-truck-outline:before {
  content: "\e938";
}
.icon-tune-vertical:before {
  content: "\e939";
}
.icon-wallet-outline:before {
  content: "\e93a";
}
.icon-water-outline:before {
  content: "\e93b";
}
.icon-wrench-outline:before {
  content: "\e93c";
}
