@font-face {
  font-family: 'svb';
  src:  url('../fonts/svb.eot?b0p2pt');
  src:  url('../fonts/svb.eot?b0p2pt#iefix') format('embedded-opentype'),
    url('../fonts/svb.ttf?b0p2pt') format('truetype'),
    url('../fonts/svb.woff?b0p2pt') format('woff'),
    url('../fonts/svb.svg?b0p2pt#svb') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.svb {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'svb' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.account-check-outline:before {
  content: "\e900";
}
.account-outline:before {
  content: "\e901";
}
.arrow-down:before {
  content: "\e902";
}
.arrow-left-bold-outline:before {
  content: "\e903";
}
.arrow-left-top:before {
  content: "\e904";
}
.arrow-right-bold-outline:before {
  content: "\e905";
}
.arrow-right-top:before {
  content: "\e906";
}
.arrow-up:before {
  content: "\e907";
}
.badge-account-outline:before {
  content: "\e908";
}
.briefcase-outline:before {
  content: "\e909";
}
.camera-outline:before {
  content: "\e90a";
}
.certificate-outline:before {
  content: "\e90b";
}
.chart-bar:before {
  content: "\e90c";
}
.chart-box-outline:before {
  content: "\e90d";
}
.chart-line:before {
  content: "\e90e";
}
.checkbox-marked-circle-outline:before {
  content: "\e90f";
}
.clipboard-outline:before {
  content: "\e910";
}
.clock-outline:before {
  content: "\e911";
}
.close:before {
  content: "\e912";
}
.cloud-outline:before {
  content: "\e913";
}
.comment-outline:before {
  content: "\e914";
}
.currency-eur:before {
  content: "\e915";
}
.currency-usd:before {
  content: "\e916";
}
.dots-grid:before {
  content: "\e917";
}
.email-fast-outline:before {
  content: "\e918";
}
.email-outline:before {
  content: "\e919";
}
.export-variant:before {
  content: "\e91a";
}
.fan:before {
  content: "\e91b";
}
.file:before {
  content: "\e91c";
}
.file-document-outline:before {
  content: "\e91d";
}
.fingerprint:before {
  content: "\e91e";
}
.folder-outline:before {
  content: "\e91f";
}
.folder-plus-outline:before {
  content: "\e920";
}
.gauge:before {
  content: "\e921";
}
.home-variant-outline:before {
  content: "\e925";
}
.infinity:before {
  content: "\e926";
}
.layers-outline:before {
  content: "\e927";
}
.lock-open-outline:before {
  content: "\e928";
}
.lock-outline:before {
  content: "\e929";
}
.magnify:before {
  content: "\e92a";
}
.map-marker-outline:before {
  content: "\e92b";
}
.map-outline:before {
  content: "\e92c";
}
.minus-circle-outline:before {
  content: "\e92d";
}
.notebook-outline:before {
  content: "\e92e";
}
.paperclip:before {
  content: "\e92f";
}
.plus:before {
  content: "\e930";
}
.plus-circle-outline:before {
  content: "\e931";
}
.receipt-text-outline:before {
  content: "\e932";
}
.reload:before {
  content: "\e933";
}
.send-outline:before {
  content: "\e934";
}
.share-variant-outline:before {
  content: "\e935";
}
.shield-outline:before {
  content: "\e936";
}
.trash-can-outline:before {
  content: "\e937";
}
.truck-outline:before {
  content: "\e938";
}
.tune-vertical:before {
  content: "\e939";
}
.wallet-outline:before {
  content: "\e93a";
}
.water-outline:before {
  content: "\e93b";
}
.wrench-outline:before {
  content: "\e93c";
}
.flag-variant-outline:before {
  content: "\e93d";
}
.recycle-variant:before {
  content: "\e93e";
}
