@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?yqr82x');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?yqr82x#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?yqr82x') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?yqr82x') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?yqr82x##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-check-outline {
  &:before {
    content: $icon-account-check-outline;     
  }
}
.icon-account-outline {
  &:before {
    content: $icon-account-outline;     
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;     
  }
}
.icon-arrow-left-bold-outline {
  &:before {
    content: $icon-arrow-left-bold-outline;     
  }
}
.icon-arrow-left-top {
  &:before {
    content: $icon-arrow-left-top;     
  }
}
.icon-arrow-right-bold-outline {
  &:before {
    content: $icon-arrow-right-bold-outline;     
  }
}
.icon-arrow-right-top {
  &:before {
    content: $icon-arrow-right-top;     
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;     
  }
}
.icon-badge-account-outline {
  &:before {
    content: $icon-badge-account-outline;     
  }
}
.icon-briefcase-outline {
  &:before {
    content: $icon-briefcase-outline;     
  }
}
.icon-camera-outline {
  &:before {
    content: $icon-camera-outline;     
  }
}
.icon-certificate-outline {
  &:before {
    content: $icon-certificate-outline;     
  }
}
.icon-chart-bar {
  &:before {
    content: $icon-chart-bar;     
  }
}
.icon-chart-box-outline {
  &:before {
    content: $icon-chart-box-outline;     
  }
}
.icon-chart-line {
  &:before {
    content: $icon-chart-line;     
  }
}
.icon-checkbox-marked-circle-outline {
  &:before {
    content: $icon-checkbox-marked-circle-outline;     
  }
}
.icon-clipboard-outline {
  &:before {
    content: $icon-clipboard-outline;     
  }
}
.icon-clock-outline {
  &:before {
    content: $icon-clock-outline;     
  }
}
.icon-close {
  &:before {
    content: $icon-close;     
  }
}
.icon-cloud-outline {
  &:before {
    content: $icon-cloud-outline;     
  }
}
.icon-comment-outline {
  &:before {
    content: $icon-comment-outline;     
  }
}
.icon-currency-eur {
  &:before {
    content: $icon-currency-eur;     
  }
}
.icon-currency-usd {
  &:before {
    content: $icon-currency-usd;     
  }
}
.icon-dots-grid {
  &:before {
    content: $icon-dots-grid;     
  }
}
.icon-email-fast-outline {
  &:before {
    content: $icon-email-fast-outline;     
  }
}
.icon-email-outline {
  &:before {
    content: $icon-email-outline;     
  }
}
.icon-export-variant {
  &:before {
    content: $icon-export-variant;     
  }
}
.icon-fan {
  &:before {
    content: $icon-fan;     
  }
}
.icon-file {
  &:before {
    content: $icon-file;     
  }
}
.icon-file-document-outline {
  &:before {
    content: $icon-file-document-outline;     
  }
}
.icon-fingerprint {
  &:before {
    content: $icon-fingerprint;     
  }
}
.icon-folder-outline {
  &:before {
    content: $icon-folder-outline;     
  }
}
.icon-folder-plus-outline {
  &:before {
    content: $icon-folder-plus-outline;     
  }
}
.icon-gauge {
  &:before {
    content: $icon-gauge;     
  }
}
.icon-home-variant-outline {
  &:before {
    content: $icon-home-variant-outline;     
  }
}
.icon-infinity {
  &:before {
    content: $icon-infinity;     
  }
}
.icon-layers-outline {
  &:before {
    content: $icon-layers-outline;     
  }
}
.icon-lock-open-outline {
  &:before {
    content: $icon-lock-open-outline;     
  }
}
.icon-lock-outline {
  &:before {
    content: $icon-lock-outline;     
  }
}
.icon-magnify {
  &:before {
    content: $icon-magnify;     
  }
}
.icon-map-marker-outline {
  &:before {
    content: $icon-map-marker-outline;     
  }
}
.icon-map-outline {
  &:before {
    content: $icon-map-outline;     
  }
}
.icon-minus-circle-outline {
  &:before {
    content: $icon-minus-circle-outline;     
  }
}
.icon-notebook-outline {
  &:before {
    content: $icon-notebook-outline;     
  }
}
.icon-paperclip {
  &:before {
    content: $icon-paperclip;     
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;     
  }
}
.icon-plus-circle-outline {
  &:before {
    content: $icon-plus-circle-outline;     
  }
}
.icon-receipt-text-outline {
  &:before {
    content: $icon-receipt-text-outline;     
  }
}
.icon-reload {
  &:before {
    content: $icon-reload;     
  }
}
.icon-send-outline {
  &:before {
    content: $icon-send-outline;     
  }
}
.icon-share-variant-outline {
  &:before {
    content: $icon-share-variant-outline;     
  }
}
.icon-shield-outline {
  &:before {
    content: $icon-shield-outline;     
  }
}
.icon-trash-can-outline {
  &:before {
    content: $icon-trash-can-outline;     
  }
}
.icon-truck-outline {
  &:before {
    content: $icon-truck-outline;     
  }
}
.icon-tune-vertical {
  &:before {
    content: $icon-tune-vertical;     
  }
}
.icon-wallet-outline {
  &:before {
    content: $icon-wallet-outline;     
  }
}
.icon-water-outline {
  &:before {
    content: $icon-water-outline;     
  }
}
.icon-wrench-outline {
  &:before {
    content: $icon-wrench-outline;     
  }
}

