@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?yqr82x');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?yqr82x#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?yqr82x') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?yqr82x') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?yqr82x##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.svb {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.account-check-outline {
  &:before {
    content: $icon-account-check-outline;     
  }
}
.account-outline {
  &:before {
    content: $icon-account-outline;     
  }
}
.arrow-down {
  &:before {
    content: $icon-arrow-down;     
  }
}
.arrow-left-bold-outline {
  &:before {
    content: $icon-arrow-left-bold-outline;     
  }
}
.arrow-left-top {
  &:before {
    content: $icon-arrow-left-top;     
  }
}
.arrow-right-bold-outline {
  &:before {
    content: $icon-arrow-right-bold-outline;     
  }
}
.arrow-right-top {
  &:before {
    content: $icon-arrow-right-top;     
  }
}
.arrow-up {
  &:before {
    content: $icon-arrow-up;     
  }
}
.badge-account-outline {
  &:before {
    content: $icon-badge-account-outline;     
  }
}
.briefcase-outline {
  &:before {
    content: $icon-briefcase-outline;     
  }
}
.camera-outline {
  &:before {
    content: $icon-camera-outline;     
  }
}
.certificate-outline {
  &:before {
    content: $icon-certificate-outline;     
  }
}
.chart-bar {
  &:before {
    content: $icon-chart-bar;     
  }
}
.chart-box-outline {
  &:before {
    content: $icon-chart-box-outline;     
  }
}
.chart-line {
  &:before {
    content: $icon-chart-line;     
  }
}
.checkbox-marked-circle-outline {
  &:before {
    content: $icon-checkbox-marked-circle-outline;     
  }
}
.clipboard-outline {
  &:before {
    content: $icon-clipboard-outline;     
  }
}
.clock-outline {
  &:before {
    content: $icon-clock-outline;     
  }
}
.close {
  &:before {
    content: $icon-close;     
  }
}
.cloud-outline {
  &:before {
    content: $icon-cloud-outline;     
  }
}
.comment-outline {
  &:before {
    content: $icon-comment-outline;     
  }
}
.currency-eur {
  &:before {
    content: $icon-currency-eur;     
  }
}
.currency-usd {
  &:before {
    content: $icon-currency-usd;     
  }
}
.dots-grid {
  &:before {
    content: $icon-dots-grid;     
  }
}
.email-fast-outline {
  &:before {
    content: $icon-email-fast-outline;     
  }
}
.email-outline {
  &:before {
    content: $icon-email-outline;     
  }
}
.export-variant {
  &:before {
    content: $icon-export-variant;     
  }
}
.fan {
  &:before {
    content: $icon-fan;     
  }
}
.file {
  &:before {
    content: $icon-file;     
  }
}
.file-document-outline {
  &:before {
    content: $icon-file-document-outline;     
  }
}
.fingerprint {
  &:before {
    content: $icon-fingerprint;     
  }
}
.folder-outline {
  &:before {
    content: $icon-folder-outline;     
  }
}
.folder-plus-outline {
  &:before {
    content: $icon-folder-plus-outline;     
  }
}
.gauge {
  &:before {
    content: $icon-gauge;     
  }
}
.home-variant-outline {
  &:before {
    content: $icon-home-variant-outline;     
  }
}
.infinity {
  &:before {
    content: $icon-infinity;     
  }
}
.layers-outline {
  &:before {
    content: $icon-layers-outline;     
  }
}
.lock-open-outline {
  &:before {
    content: $icon-lock-open-outline;     
  }
}
.lock-outline {
  &:before {
    content: $icon-lock-outline;     
  }
}
.magnify {
  &:before {
    content: $icon-magnify;     
  }
}
.map-marker-outline {
  &:before {
    content: $icon-map-marker-outline;     
  }
}
.map-outline {
  &:before {
    content: $icon-map-outline;     
  }
}
.minus-circle-outline {
  &:before {
    content: $icon-minus-circle-outline;     
  }
}
.notebook-outline {
  &:before {
    content: $icon-notebook-outline;     
  }
}
.paperclip {
  &:before {
    content: $icon-paperclip;     
  }
}
.plus {
  &:before {
    content: $icon-plus;     
  }
}
.plus-circle-outline {
  &:before {
    content: $icon-plus-circle-outline;     
  }
}
.receipt-text-outline {
  &:before {
    content: $icon-receipt-text-outline;     
  }
}
.reload {
  &:before {
    content: $icon-reload;     
  }
}
.send-outline {
  &:before {
    content: $icon-send-outline;     
  }
}
.share-variant-outline {
  &:before {
    content: $icon-share-variant-outline;     
  }
}
.shield-outline {
  &:before {
    content: $icon-shield-outline;     
  }
}
.trash-can-outline {
  &:before {
    content: $icon-trash-can-outline;     
  }
}
.truck-outline {
  &:before {
    content: $icon-truck-outline;     
  }
}
.tune-vertical {
  &:before {
    content: $icon-tune-vertical;     
  }
}
.wallet-outline {
  &:before {
    content: $icon-wallet-outline;     
  }
}
.water-outline {
  &:before {
    content: $icon-water-outline;     
  }
}
.wrench-outline {
  &:before {
    content: $icon-wrench-outline;     
  }
}

