$icomoon-font-family: "svb" !default;
$icomoon-font-path: "../fonts" !default;

$icon-account-check-outline: "\e900";
$icon-account-outline: "\e901";
$icon-arrow-down: "\e902";
$icon-arrow-left-bold-outline: "\e903";
$icon-arrow-left-top: "\e904";
$icon-arrow-right-bold-outline: "\e905";
$icon-arrow-right-top: "\e906";
$icon-arrow-up: "\e907";
$icon-badge-account-outline: "\e908";
$icon-briefcase-outline: "\e909";
$icon-camera-outline: "\e90a";
$icon-certificate-outline: "\e90b";
$icon-chart-bar: "\e90c";
$icon-chart-box-outline: "\e90d";
$icon-chart-line: "\e90e";
$icon-checkbox-marked-circle-outline: "\e90f";
$icon-clipboard-outline: "\e910";
$icon-clock-outline: "\e911";
$icon-close: "\e912";
$icon-cloud-outline: "\e913";
$icon-comment-outline: "\e914";
$icon-currency-eur: "\e915";
$icon-currency-usd: "\e916";
$icon-dots-grid: "\e917";
$icon-email-fast-outline: "\e918";
$icon-email-outline: "\e919";
$icon-export-variant: "\e91a";
$icon-fan: "\e91b";
$icon-file: "\e91c";
$icon-file-document-outline: "\e91d";
$icon-fingerprint: "\e91e";
$icon-folder-outline: "\e91f";
$icon-folder-plus-outline: "\e920";
$icon-gauge: "\e921";
$icon-home-variant-outline: "\e925";
$icon-infinity: "\e926";
$icon-layers-outline: "\e927";
$icon-lock-open-outline: "\e928";
$icon-lock-outline: "\e929";
$icon-magnify: "\e92a";
$icon-map-marker-outline: "\e92b";
$icon-map-outline: "\e92c";
$icon-minus-circle-outline: "\e92d";
$icon-notebook-outline: "\e92e";
$icon-paperclip: "\e92f";
$icon-plus: "\e930";
$icon-plus-circle-outline: "\e931";
$icon-receipt-text-outline: "\e932";
$icon-reload: "\e933";
$icon-send-outline: "\e934";
$icon-share-variant-outline: "\e935";
$icon-shield-outline: "\e936";
$icon-trash-can-outline: "\e937";
$icon-truck-outline: "\e938";
$icon-tune-vertical: "\e939";
$icon-wallet-outline: "\e93a";
$icon-water-outline: "\e93b";
$icon-wrench-outline: "\e93c";

