$icomoon-font-family: "svb" !default;
$icomoon-font-path: "../fonts" !default;

$account-check-outline: "\e900";
$account-outline: "\e901";
$arrow-down: "\e902";
$arrow-left-bold-outline: "\e903";
$arrow-left-top: "\e904";
$arrow-right-bold-outline: "\e905";
$arrow-right-top: "\e906";
$arrow-up: "\e907";
$badge-account-outline: "\e908";
$briefcase-outline: "\e909";
$camera-outline: "\e90a";
$certificate-outline: "\e90b";
$chart-bar: "\e90c";
$chart-box-outline: "\e90d";
$chart-line: "\e90e";
$checkbox-marked-circle-outline: "\e90f";
$clipboard-outline: "\e910";
$clock-outline: "\e911";
$close: "\e912";
$cloud-outline: "\e913";
$comment-outline: "\e914";
$currency-eur: "\e915";
$currency-usd: "\e916";
$dots-grid: "\e917";
$email-fast-outline: "\e918";
$email-outline: "\e919";
$export-variant: "\e91a";
$fan: "\e91b";
$file: "\e91c";
$file-document-outline: "\e91d";
$fingerprint: "\e91e";
$folder-outline: "\e91f";
$folder-plus-outline: "\e920";
$gauge: "\e921";
$home-variant-outline: "\e925";
$infinity: "\e926";
$layers-outline: "\e927";
$lock-open-outline: "\e928";
$lock-outline: "\e929";
$magnify: "\e92a";
$map-marker-outline: "\e92b";
$map-outline: "\e92c";
$minus-circle-outline: "\e92d";
$notebook-outline: "\e92e";
$paperclip: "\e92f";
$plus: "\e930";
$plus-circle-outline: "\e931";
$receipt-text-outline: "\e932";
$reload: "\e933";
$send-outline: "\e934";
$share-variant-outline: "\e935";
$shield-outline: "\e936";
$trash-can-outline: "\e937";
$truck-outline: "\e938";
$tune-vertical: "\e939";
$wallet-outline: "\e93a";
$water-outline: "\e93b";
$wrench-outline: "\e93c";
$flag-variant-outline: "\e93d";
$recycle-variant: "\e93e";
